body {
    color: blue;
    background: rgb(232, 151, 1);
    font-family: 'Times New Roman', Times, serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

a {
    color: rgb(20, 153, 20);
    text-decoration: none;

}   

img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    border: 4px solid rgb(192, 6, 6);
}

.center {
    text-align: center;
}

h1 {
    color: rgb(192, 6, 6);  
}